/* ==================== MAIN ====================*/
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 20px;
}

/* ==================== BLOQUE TITULO BLOG ====================*/

.blog-header {
    grid-column: 1 / -1;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background:
        linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url('/static/img/background-ciberseguridad.jpg') center 90%/cover no-repeat;
}

/* ==================== SELECCIÓN ENTRADAS Y FILTRO PALABRAS ====================*/

.blog-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.blog-search input {
    padding: 6px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    color: #333;
    background-color: #fff;
    width: 200px;
}

.blog-search input:focus,
.blog-search input:hover {
    border-color: #888;
    box-shadow: 0 0 0 2px rgba(136, 136, 136, 0.15);
    background-color: #f9f9f9;
}

.blog-entry-pages {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
}

.blog-entry-pages label {
    font-weight: 500;
}

.blog-entry-pages select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="6"%3E%3Cpath fill="%23333" d="M0 0l5 6 5-6z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 8px 6px;
}

.blog-entry-pages select:hover,
.blog-entry-pages select:focus {
    border-color: #888;
    box-shadow: 0 0 0 2px rgba(136, 136, 136, 0.15);
    /* efecto sutil como "halo" */
    background-color: #f9f9f9;
}

.blog-search button {
    padding: 6px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.blog-search button:hover {
    background-color: #005bb5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* ==================== BLOQUE AÑADIR ENTRADAS ====================*/

.blog-edit {
    grid-column: 1 / -1;
    padding: 0;
}

.add-entry {
    width: 100%;
    border-radius: 10px;
    font-size: 3em;
    background-color: #00000016;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #00000026;
    }
}

.blog-form {
    padding: 20px;
    margin: 0;
    background-color: #ffffff77;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-form input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    margin: 10px 0;
}

.blog-form textarea {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    margin: 10px 0;
}

.blog-form button {
    width: 20%;
    padding: 13px;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #007aff;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #005bb5;
    }
}

.img-preview {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

/* ==================== BLOQUE CONTENEDOR ====================*/

.blog-card {
    grid-column: 1 / -1;
}

.blog-entry {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.entry-img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.entry-content {
    margin: 0 12px 0 8px;
}

.entry-content>* {
    margin-bottom: 10px;
}

.entry-fecha {
    font-size: 0.9em;
    color: #777;
}

.entry-txt p {
    margin-bottom: 10px;
    text-align: justify;
}

.blog-entry button {
    margin: 10px 10px 0 0;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.edit-entry {
    background-color: #ffc107;
    color: #000;

    &:hover {
        background-color: #e0a800;
    }
}

.delete-entry {
    background-color: #dc3545;
    color: #fff;

    &:hover {
        background-color: #c82333;
    }
}

/* ==================== BOTÓN CARGAR MÁS ====================*/
.blog-load-more {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 10px;
}

.load-more {
    padding: 10px 40px;
    font-size: 1.1em;
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.load-more:hover {
    background-color: #005bb5;
}