/* ==================== MAIN ====================*/
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 20px;
}

/* ==================== HEADER ====================*/
.serv-header {
    grid-column: 1 / -1;
    padding: 20px;
    text-align: center;
}

.serv-header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #222;
    line-height: 1.2;
    ;
}

.serv-header h2 {
    font-size: 2rem;
    color: #555;
    font-weight: 500;
    margin-top: 0;
}


/* ==================== PAQUETES ====================*/

/*-------- BLOQUES GENERALES -----------*/
.serv-packages {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 80px;
    gap: 40px;
}

.serv-pack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease;
    text-align: center;
    min-height: 490px;
}

.serv-pack:hover {
    transform: translateY(-5px) scale(1.04);
}

.pack-general {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    padding: 20px;
    margin-bottom: 10px;
}

.pack-details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.4s ease;
    margin-bottom: 20px;
}

.serv-pack .pack-details.visible {
    max-height: 500px;
    opacity: 1;
}

.serv-pack.basico {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(135deg, #007aff, #60c6ff) border-box;
    border: 4px solid transparent;
}

.serv-pack.intermedio {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(135deg, #ffb347, #ff6a00) border-box;
    border: 4px solid transparent;
    box-shadow: 0 0 12px #ff6a00aa;
}

.serv-pack.avanzado {
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(135deg, #ff416c, #ff4b2b) border-box;
    border: 5px solid transparent;
    box-shadow: 0 0 18px #ff4b2b99;
}

/* Estrella*/
.serv-pack:nth-child(3) {
    position: relative;
}

/* Triángulo de fondo */
.serv-pack:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #ff416c;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Estrella blanca */
.serv-pack:nth-child(3)::after {
    content: "★";
    position: absolute;
    top: 2px;
    right: 8px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 11;
    pointer-events: none;
}

/*-------- TITULOS, PARRAFOS, LISTAS -----------*/

.serv-pack h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.serv-pack h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

.serv-pack h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.serv-pack.basico h5 {
    color: #007aff;
}

.serv-pack.intermedio h5 {
    color: #ff9500;
}

.serv-pack.avanzado h5 {
    color: #cc005f;
}

.serv-pack p {
    font-size: 1.1rem;
}

.pack-details p {
    font-size: 1.rem;
    margin: 30px 0 15px 0;
}

.pack-details ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 1.5em;
    margin: 0;
    text-align: left;
}

.pack-details li {
    margin-bottom: 10px;
    text-indent: -1.5em;
    padding-left: 1.5em;
}

/*-------- BOTONES -----------*/

.serv-pack button {
    width: auto;
    align-self: center;
}

.info-serv {
    padding: 10px 15px;
    font-size: 0.9rem;
    border: 1px solid #757575;
    border-radius: 25px;
    background-color: #fff;
    color: #757575;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.info-serv:hover {
    scale: 1.05;
}

.select-serv {
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 15px;
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.select-serv:hover {
    scale: 1.05;
}

.serv-pack.basico .select-serv {
    background-color: #007aff;
}

.serv-pack.basico .select-serv:hover {
    background-color: #005fcc;
}

.serv-pack.intermedio .select-serv {
    background-color: #ff6a00;
}

.serv-pack.intermedio .select-serv:hover {
    background-color: #e65c00;
}

.serv-pack.avanzado .select-serv {
    background-color: #ff416c;
}

.serv-pack.avanzado .select-serv:hover {
    background-color: #cc005f;
}


/* ==================== GOOGLE CALENDAR ====================*/
.serv-calendar {
    grid-column: 1 / -1;
    margin: 40px 80px;
    padding: 80px;
    border: 3px dashed #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    text-align: center;
    color: #999;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}